<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{modules/backend/layouts/master}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>Reset User Password</title>
</head>
<body>
<div>
    <ul layout:fragment="breadcrumbs" class="breadcrumb" >
        <li class="breadcrumb-item"><a th:href="@{/SLMS/Dashboard}">Dashboard</a></li>
        <li class="breadcrumb-item"><a th:href="@{/SLMS/UserManagementUsers}">Users</a></li>
        <li class="breadcrumb-item"><a >Reset User Password</a></li>
    </ul>
</div>

<div layout:fragment="content">

    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">Reset Users Password</h6>

            <div class="element-box">

                <div class="element-box-content">
                    <div class="row">
                        <div class="col-10">
                            <a class="mr-2 mb-2 btn btn-primary" th:href="@{/SLMS/UserManagement/Users}" type="button"> Users </a>
                            <a class="mr-2 mb-2 btn btn-primary" th:href="@{/SLMS/UserManagement/Roles}" type="button"> Roles</a>
                            <a class="mr-2 mb-2 btn btn-primary" th:href="@{/SLMS/UserManagement/Password}" type="button"> Password</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="element-box">
                <form th:action="@{/SLMS/UserManagement/Password}" method="Post" th:object="${userRequest}">
                    <input type="hidden" th:value="${user.id}" name="id">
                    <div class="form-group">
                        <p class="text-danger">
                            <small>
                                *Only use this facility to reset the user password. <br>
                                *After which the user should change their password once they have logged on.
                            </small>
                        </p>
                        <p>
                            UserID: <strong > [[${user.id}]]  </strong> <br>
                            Username: <strong > [[${user.username}]]  </strong>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" name="confirmPassword" required>
                        </div>
                    </div>
                    <button class="mr-2 mb-2 btn btn-primary" type="submit"> Update Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
