<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{modules/backend/layouts/master}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>Reset Password</title>
</head>
<body>

<!--todo::use shared view for student facing reset password & admin reset password-->
<div layout:fragment="content" class="as-grid">

    <div class="content-i">
        <div class="content-box">
            <div class="container">
                <div class="row mbr-justify-content-center custom-space">

                    <div class="col-lg-1 col-md-1 col-sm-1 ">
                    </div>

                    <div class="col-lg-10 col-md-10 col-sm-12">
                        <form th:action="@{/SLMS/UserManagement/Password/ResetPassword}" method="Post" th:object="${userDto}" >
                            <input type="hidden"  name="id">
                            <div class="form-group">
                                <p class="text-danger text-uppercase">
                                    <small> Only use this to reset your password if you are sure.</small>
                                </p>

                            </div>
                            <div class="row">
                                <div class="col-md-10 form-group">
                                    <label>Old Password</label>
                                    <input type="password" class="form-control" name="oldPassword" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10 form-group">
                                    <label>New Password</label>
                                    <input type="password" class="form-control" name="password" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10 form-group">
                                    <label>Confirm New Password</label>
                                    <input type="password" class="form-control" name="confirmPassword" required>
                                </div>
                            </div>

                            <button class="mr-2 mb-2 btn btn-primary" type="submit"> Update Password</button>

                        </form>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-12">
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div layout:fragment="body_custom_script">
    <script type="text/javascript" th:if="${message}" th:inline="javascript">showStackTopRightAlert('error',  /*[[${message}]]*/ 'Not Successful.' ); </script>
    <script type="text/javascript" th:if="${success}" th:inline="javascript">showStackTopRightAlert('success',  /*[[${success}]]*/ 'Successful.' ); </script>
</div>

</body>
</html>
