<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{modules/backend/layouts/master}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title> STUDENT MANAGEMENT  </title>
</head>
<body>
<div>
    <ul layout:fragment="breadcrumbs" class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/Admin/Dashboard}">ADMIN</a></li>
        <li class="breadcrumb-item"><a href="#"> STUDENT MANAGEMENT  </a></li>
    </ul>
</div>

<div layout:fragment="content">

    <div class="content-box">
        <div class="col-lg-11">
            <div class="element-wrapper">
                <h6 class="element-header text-uppercase"> STUDENT MANAGEMENT  </h6>

                <div class="element-box col-lg-10">
                    <div class="element-box-content container">

                        <div  th:with="searchDto=${searchParamDTO}">

                            <form th:action="@{StudentManagementSearch/Params}" id="frmStudentSearch" method="Get" th:object="${searchParamDTO}" autocomplete="off">

                                <div class="row">

                                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                                        <label> Student Name  </label>
                                        <input type="text" id="txtStudentName" name="fullName" th:value="${flashSearchParamDTO?.fullName}"  class="form-control validateText">
                                    </div>

                                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                                        <label> Registration Number  </label>
                                        <input type="text" id="txtStudentRegNumber" th:value="${flashSearchParamDTO?.regNumber}" name="regNumber" class="form-control validateText" placeholder="Registration Number Search.. ">
                                        <input type="hidden" id="txtStudentRegNumberHidden" name="id" value="0">

                                    </div>

                                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                                        <label> Nationality </label>
                                        <select name="country" id="countrySearchParam" class="form-control">
                                            <option value="0">Select</option>
                                            <option th:each="country : ${countries}"
                                                    th:value="${country.id}"
                                                    th:text="${country.description}"
                                                    th:selected="${flashSearchParamDTO?.country eq country.id }?true">Country</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                                        <label> Programme Type </label>
                                        <select name="programmeType" class="form-control validateMultipleSearch" id="selProgrammeType">
                                            <option value="0">Select</option>
                                            <option th:each="programmeType : ${programmeTypes}"
                                                    th:value="${programmeType.id}"
                                                    th:text="${programmeType.description}"
                                                    th:selected="${flashSearchParamDTO?.programmeType eq programmeType.id} ? true ">Select</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                                        <label> Session </label>
                                        <select name="session"  class="form-control" id="selSession">
                                            <option value="0">Select Programme Type First</option>
                                            <option th:if="${flashSearchParamDTO?.session}"
                                                    th:value="${flashSearchParamDTO?.session.id}"
                                                    th:text="${flashSearchParamDTO?.session.description}" selected></option>
                                        </select>
                                    </div>

                                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                                        <label> Status </label>
                                        <select name="status" id="selStatusSearchParam" class="form-control">
                                            <option value="0">Select</option>
                                            <option value="true" th:selected="${flashSearchParamDTO?.status} == 'true' ?true">Active</option>
                                            <option value="false" th:selected="${flashSearchParamDTO?.status} == 'false' ?true">Inactive</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                                        <label> Level of Study </label>
                                        <select name="level" id="levelSearchParam"  class="form-control" >
                                            <option value="0">Select</option>
                                            <option th:each="level : ${levels}"
                                                    th:value="${level.id}"
                                                    th:text="${level.description}" th:selected="${flashSearchParamDTO?.level eq level.id }?true">Select</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                                        <label> Institution Structure  </label>
                                        <input type="text" name="institutionStructure"
                                               th:value="${flashSearchParamDTO?.institutionStructure}"
                                               id="txtInstitutionStructure"
                                               class="form-control validateMultipleSearch"
                                               placeholder="Institution Structure Search...">

                                        <input type="hidden" id="txtInstitutionStructureHidden" name="institutionStructureValue"
                                               value="0">
                                    </div>

                                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                                        <label> Entry Type </label>
                                        <select name="entryType" id="entryTypeSearchParam" class="form-control" >
                                            <option value="0">Select</option>
                                            <option th:each="entryType : ${entryTypes}"
                                                    th:value="${entryType.id}"
                                                    th:text="${entryType.description}"
                                                    th:selected="${flashSearchParamDTO?.entryType eq entryType.id }?true">Select</option>

                                        </select>

                                        <input type="hidden" id="txtCommand" name="command">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-auto">
                                        <button class="btn btn-md btn-primary col-auto" id="btnSingleSearch">
                                            <i class="fa fa-search-plus" aria-hidden="true"></i> Single Search
                                        </button>
                                    </div>
                                    <div class="form-group col-auto">
                                        <button class="btn btn-md btn-primary  col-auto" id="btnMultipleSearch">
                                            <i class="fa fa-search-plus" aria-hidden="true"></i> Multiple Search
                                        </button>
                                    </div>
                                </div>

                                <!-- page Size-->
                                <input type="hidden" id="pageSize" value="10" name="pageSize" th:value="${flashSearchParamDTO?.pageSize lt 1 ? 10 : flashSearchParamDTO?.pageSize  }">
                                <!-- page number-->
                                <input type="hidden" id="pageNumber" value="0" name="pageNumber" th:value="${flashSearchParamDTO?.pageNumber lt 1 ? 0 : flashSearchParamDTO?.pageNumber }">
                                <!-- report format  -->
                                <input type="hidden" name="reportFormat" id="reportFormat">

                            </form>
                        </div>
                        <div class="row">
                            <div class="form-group col-auto ">
                                <button class="btn btn-md btn-primary">  <i class="fa fa-search-plus" aria-hidden="true"></i> Demographic Report PDF </button>
                            </div>
                            <div class="form-group col-auto">
                                <button class="btn btn-md btn-primary">  <i class="fa fa-search-plus" aria-hidden="true"></i> Demographic Report EXCEL </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="element-box col-lg-10">
                    <div class="element-box-content container">

                        <div class="row">

                            <div class="form-group col-auto c-pad" >
                                <button class="btn btn-md btn-primary" id="btnAddNewStudent" >
                                    <i class="fa fa-plus-square" aria-hidden="true"></i> Add New Student
                                </button>
                            </div>



                            <div class="form-group col-auto c-pad">
                                <input type="file" name="passport" id="file" class="input-file" />
                                <label for="file" class="btn btn-md btn-primary text-center">
                                    <i class="fa fa-plus-square" aria-hidden="false"> </i> <span> Choose </span>
                                </label>

                                <button class="btn btn-md btn-primary"> <i class="fa fa-upload" aria-hidden="true"></i> </button>
                            </div>



                            <div class="form-group col-auto c-pad">
                                <button class="btn btn-md btn-primary" id="btnActivateStudent">  <i class="fa fa-toggle-on" aria-hidden="true"></i> Activate </button>
                                <button class="btn btn-md btn-primary"  id="btnDeactivateStudent">
                                    <i class="fa fa-toggle-off" aria-hidden="true"></i> Deactivate
                                </button>
                            </div>




                            <div class="form-group col-auto">
                                <button class="btn btn-md btn-primary col-auto" id="btnDownloadTemplate">
                                    <i class="fa fa-download" aria-hidden="true"></i> Download Template
                                </button>
                            </div>

                            <div class="form-group col-auto">
                                <button type="button"
                                        class="btn btn-md btn-primary dropdown-toggle  col-auto"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Export Data
                                </button>

                                <div class="dropdown-menu" th:if="${flashSearchParamDTO}">
                                    <a class="dropdown-item custom-pointer"  id="btnDownloadReportExcel">EXCEL</a>
                                    <a class="dropdown-item custom-pointer"  id="btnDownloadReportPdf">PDF</a>
                                </div>

                                <div class="dropdown-menu" th:unless="${flashSearchParamDTO}">
                                    <a class="dropdown-item">No Data</a>
                                </div>
                            </div>

                        </div>

                        <div class="table-responsive col-auto col-sm-12">

                            <div  class="dataTables_wrapper table-responsive">
                                <div class="row table-responsive">
                                    <div class="col-sm-12 col-md-6" th:if="${searchResult}">
                                        <div class="dataTables_length" id="usersTable_length">
                                            <label>Show
                                                <select  id="selPageSize" class="custom-select custom-select-sm form-control form-control-sm">
                                                    <option value="10" th:selected="${flashSearchParamDTO?.pageSize == 10}">10</option>
                                                    <option value="25" th:selected="${flashSearchParamDTO?.pageSize == 25}">25</option>
                                                    <option value="50" th:selected="${flashSearchParamDTO?.pageSize == 50}">50</option>
                                                    <option value="100" th:selected="${flashSearchParamDTO?.pageSize == 100}">100</option>
                                                </select> entries
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row table-responsive">
                                    <div class="col-sm-12" style="overflow-x:auto;">
                                        <table class="table table-striped table-bordered table-hover table-condensed"  id="studentSearchResultTable">

                                            <thead style="font-size: large">
                                            <tr class="text-left">
                                                <th scope="col"><input type="checkbox" id="chkStatusHeader" value="header"></th>
                                                <th></th>
                                                <th scope="col" class="text-center"> COURSE OF STUDY </th>
                                                <th scope="col" class="text-center"> PROGRAMME TYPE </th>
                                                <th scope="col" class="text-center"> SURNAME </th>
                                                <th scope="col" class="text-center"> FIRST NAME </th>
                                                <th scope="col" class="text-center"> LAST NAME </th>
                                                <th scope="col" class="text-center"> REG NUMBER  </th>
                                                <th scope="col" class="text-center"> APPLICATION NUMBER  </th>
                                                <th scope="col" class="text-center"> EMAIL  </th>
                                                <th scope="col" class="text-center"> LEVEL </th>
                                                <th scope="col" class="text-center"> GENDER </th>
                                                <th scope="col" class="text-center"> STATE </th>
                                                <th scope="col" class="text-center"> ENTRY TYPE </th>
                                                <th scope="col" class="text-center"> MOBILE </th>
                                                <th scope="col" class="text-center"> JAMB REG. </th>
                                                <th scope="col" class="text-center"> STATUS </th>
                                            </tr>
                                            </thead>
                                            <tbody class="col" th:if="${searchResult}">


                                            <tr th:if="${#arrays.isEmpty(searchResult.studentProfileDTOS)}">
                                                <th colspan="17" class="text-center text-uppercase"> No Record Found </th>
                                            </tr>

                                            <tr class="text-left"  th:each="result : ${searchResult.studentProfileDTOS}">
                                                <td><input type="checkbox" class="chkStatus" th:value="${result.id}"></td>
                                                <td>
                                                    <a th:href="@{/SLMS/StudentManagement/Student/Edit/{id}(id=${result.id})}" class="btn btn-sm btn-primary btnEdit">
                                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                                <td class="text-left"   th:text="${result.courseOfStudy}"></td>
                                                <td class="text-left"   th:text="${result.programmeType}"></td>
                                                <td class="text-center" th:text="${result.surname}"></td>
                                                <td class="text-center" th:text="${result.firstName}"></td>
                                                <td class="text-center" th:text="${result.lastName}"></td>
                                                <td class="text-center" th:text="${result.regNumber}"></td>
                                                <td class="text-center" th:text="${result.applicationNumber}"></td>
                                                <td class="text-left"   th:text="${result.email}"></td>
                                                <td class="text-center" th:text="${result.level}"></td>
                                                <td class="text-center" th:text="${result.gender}"></td>
                                                <td class="text-center" th:text="${result.state}"></td>
                                                <td class="text-center" th:text="${result.entryType}"></td>
                                                <td class="text-center" th:text="${result.phone}"></td>
                                                <td class="text-center" th:text="${result.jambReg}"></td>
                                                <td class="text-center" th:class="${result.status == true} ? 'text-success':'text-danger'" th:text="${result.status == true}? 'Active' : 'Inactive' "></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row" th:if="${searchResult}">

                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" role="status" aria-live="polite" th:text="${ 'Showing: ' + (searchResult.pageNumber+1)  + ' to ' + searchResult.pageSize + ' of ' + searchResult.totalResultSize + ' entries'  }">Showing 1 to 10 of 10 entries</div>
                                    </div>

                                    <div class="col-sm-12 col-md-7">

                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-end">

                                                <li th:class="${searchResult.hasPrevious}?'page-item  custom-pointer':'page-item' "
                                                    th:classappend="${!searchResult.hasPrevious} ? 'disabled' "
                                                    id="previousPage">
                                                    <a class="page-link" tabindex="-1">Previous</a>
                                                </li>

                                                <li class="page-item pageItem custom-pointer"
                                                    th:classappend="${searchResult.pageNumber == i -1 } ? active : '' "
                                                    th:each="i: ${#numbers.sequence(searchResult.pageNumber + 1, searchResult.totalPages > 10 + searchResult.pageNumber ? searchResult.pageNumber + 10 : searchResult.totalPages, 1)}"
                                                    th:attr="data-page=${i}"
                                                >
                                                    <a class="page-link"> [[${i}]] </a>
                                                </li>

                                                <li class="page-item disabled" th:if="${searchResult.pageNumber + 10 < searchResult.totalPages}">
                                                    <a class="page-link" href="#"> <span> ... </span> </a>
                                                </li>

                                                <li id="nextPage"
                                                    th:class="${searchResult.hasNext} ? 'page-item custom-pointer':'page-item' "
                                                    th:classappend="${!searchResult.hasNext} ?  'disabled' " >
                                                    <a class="page-link" tabindex="-1">Next</a>
                                                </li>

                                            </ul>
                                        </nav>

                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div layout:fragment="body_modal">
        <form th:action="@{StudentManagementView}" method="post" id="frmAddNewStudent" th:object="${StudentDTO}">
            <div aria-hidden="true" aria-labelledby="myLargeModalLabel" id="createAddNewStudentModal" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title">-</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                        </div>

                        <div class="modal-body">

                            <h6 class="text-uppercase">Course/Programme of Study</h6>
                            <hr>
                            <div class="row">

                                <div class="form-group mt-lg col-lg-12">
                                    <div th:replace="/modules/backend/views/InstitutionStructure/fragments/__InstitutionStructureDropDown :: InstitutionStructureDropDown( ${categories}, ${instStrListByLeastHieCategory} )"></div>
                                </div>

                            </div>

                            <hr>
                            <h6 class="text-uppercase">Programme Type</h6>
                            <hr>

                            <div class="row">
                                <div class="form-group mt-lg col-lg-12">
                                    <div th:replace="/modules/backend/views/InstitutionStructure/fragments/__ProgrammeTypeDropDown :: ProgrammeTypeDropDown(${programmeCategories})"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group mt-lg col-lg-12">
                                    <label >Programme Type</label>
                                    <input type="text" class="form-control" id="txtProgrammeTypeText" readonly required />
                                    <input type="hidden" th:field="*{programmeType}" id="txtProgrammeTypeValue"  />
                                </div>

                                <div class="form-group mt-lg col-lg-12">
                                    <label >Course/Programme of Study</label>
                                    <input type="text" class="form-control" id="txtCourseOfStudyText" readonly required />
                                    <input type="hidden" th:field="*{institutionStructure}" id="txtCourseOfStudyValue">
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group mt-lg col-lg-6">
                                    <label>Entry Type</label>
                                    <select th:field="*{entryType}" class="form-control" required>
                                        <option value="">Select</option>
                                        <option th:each="entryType : ${entryTypes}" th:value="${entryType.id}" th:text="${entryType.description}">NEW STUDENT</option>

                                    </select>
                                </div>

                                <div class="form-group mt-lg col-lg-6">
                                    <label>Date of Birth</label>
                                    <div class="date-input">
                                        <input type="text" class=" form-control"  th:field="*{dateOfBirth}" >
                                    </div>
<!--                                    todo:: add custom date picker to date of birth-->

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group mt-lg col-lg-6">
                                    <label>Level of Study</label>
                                    <select class="form-control" th:field="*{level}" required>
                                        <option value="">Select</option>
                                        <option th:each="level :${levels}" th:text="${level.description}" th:value="${level.id}"></option>
                                    </select>
                                </div>

                                <div class="form-group mt-lg col-lg-6">
                                    <label> Surname</label>
                                    <input type="text" class="form-control" th:field="*{surname}" required />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group mt-lg col-lg-6">
                                    <label>Session</label>
                                    <input type="text" class="form-control" id="selCurrentSession" readonly required>
                                    <input type="hidden" id="selCurrentSessionValue" th:field="*{session}">
                                </div>

                                <div class="form-group mt-lg col-lg-6">
                                    <label> First Name</label>
                                    <input type="text" class="form-control" th:field="*{firstName}" required />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group mt-lg col-lg-6">
                                    <label>Gender</label>
                                    <select name="" class="form-control" th:field="*{gender}" required>
                                        <option value="">Select</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>

                                <div class="form-group mt-lg col-lg-6">
                                    <label> Last Name</label>
                                    <input type="text" class="form-control" th:field="*{lastName}" required />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group mt-lg col-lg-6">
                                    <label>Email</label>
                                    <input type="email" class="form-control" th:field="*{email}" required>
                                </div>

                                <div class="form-group mt-lg col-lg-6">
                                    <label> Registration Number</label>
                                    <input type="text" class="form-control" th:field="*{regNumber}" required />
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                            <button class="btn btn-primary" type="submit" id="btnSaveSpecificFee"> Save changes</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div layout:fragment="body_custom_script">
    <script type="text/javascript" th:src="@{/assets/backend/custom/js/StudentManagement/StudentManagement.js}"></script>
    <script type="text/javascript" th:if="${message}" th:inline="javascript">PNotify.alert({text: /*[[${message}]]*/ 'Success', type: 'success'});</script>
    <script type="text/javascript" th:if="${error}" th:inline="javascript">PNotify.alert({text: /*[[${error}]]*/ '', type: 'notice'});</script>
</div>

</body>
</html>
