<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{modules/backend/layouts/master}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>SETUP INSTITUTION STRUCTURE  </title>
</head>
<body>
<div>
    <ul layout:fragment="breadcrumbs" class="breadcrumb" >
        <li class="breadcrumb-item"><a th:href="@{/SLMS/Dashboard}">Admin</a></li>
        <li class="breadcrumb-item"><a href="#"> Institution Structure</a></li>
        <li class="breadcrumb-item"><a th:href="@{SLMS/InstitutionStructure/Setup_Institution_Structure}"> Setup Institution Structure</a></li>
    </ul>
</div>

<div layout:fragment="content">

    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header text-uppercase">Setup Institution Structure</h6>

            <div class="element-box">

                <div class="element-box-content">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label > DESCRIPTION </label>

                            <input type="text"  class="form-control" name="searchParam" placeholder="Search..." id="txtSearchInsStructure">

                        </div>
                        <div class="form-group col-md-4">
                            <label > REPORT GROUP </label>

                            <select class="form-control"  id="selReportCategory">
                                <option selected disabled>Select...</option>
                                <option th:each="category: ${parentCategories}"
                                        th:value="${category.id}" th:text="${category.description}"
                                        th:attr="data-id=${category.id},data-description=${category.description},data-hierarchy=${category.hierarchy}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label > CATEGORY </label>

                            <select class="form-control" >
                                <option selected>Select...</option>
                                <option th:each="category: ${parentCategories}"
                                        th:value="${category.id}" th:text="${category.description}"
                                        th:attr="data-id=${category.id},data-description=${category.description},data-hierarchy=${category.hierarchy}"></option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">

                        <button class="btn btn-md btn-primary" data-target=".bd-example-modal-lg" data-toggle="modal" id="btnAddCatergoryName"> Create <i class="fa fa-plus-square" aria-hidden="true"></i> </button>
                    </div>

                    <form  action="" method="" >

                        <div class="row" style="display: none" id="divAddCategoryName">
                            <div class="table-responsive table col-6">
                                <table class="table-bordered table-striped table" id="tblAddCategoryName">
                                    <thead>
                                    <tr>
                                        <th scope="col-8">Category Names</th>
                                        <th scope="col-2"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>

                            </div>

                            <div class="col">
                                <button type="submit" class="btn btn-md btn-primary" > Save  <i class="fa fa-download" aria-hidden="true"></i> </button>
                            </div>

                        </div>

                    </form>

                </div>
            </div>


            <div class="content-panel-toggler"><i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span></div>

            <div class="content-i">
                <div class="content-box">
                    <div class="element-wrapper">
                        <h6 class="element-header"></h6>
                            <div class="element-box">
                            <h5 class="form-header">Institution Category</h5>
                            <div class="controls-above-table">
                                <div class="row">
                                    <div class="col-sm-6"><a class="btn btn-sm btn-secondary" href="#">Download</a><a class="btn btn-sm btn-secondary" href="#">Archive</a><a class="btn btn-sm btn-danger" href="#">Delete</a></div>
                                    <div class="col-sm-6">
                                        <form class="form-inline justify-content-sm-end">
                                            <input class="form-control form-control-sm rounded bright" placeholder="Search" type="text">
                                            <select class="form-control form-control-sm rounded bright">
                                                <option selected="selected" value="">Select Status</option>
                                                <option value="Pending">Pending</option>
                                                <option value="Active">Active</option>
                                                <option value="Cancelled">Cancelled</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-lightborder">
                                    <thead>
                                    <tr class="text-left">
                                        <th scope="col-8" >Description</th>
                                        <th scope="col-2" >Hierarchy</th>
                                        <th scope="col-2" ></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="text-left">
                                        <td>Test Data</td>
                                        <td>1</td>
                                        <td> <a href="" class="btn btn-sm btn-primary "> <i class="fa fa-pencil" aria-hidden="true"></i> </a> </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div layout:fragment="body_modal">

    <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">INSTITUTION STRUCTURE SETUP</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                </div>

                <form th:action="@{/SLMS/InstitutionStructure/Setup_Institution_Structure/Create}" method="post" th:object="${institutionStructureDTO}" id="frmCreateInsStructure">

                    <div class="modal-body">

                            <div class="row">

                                <div class="col-md-12">
                                    <div th:replace="/modules/backend/views/InstitutionStructure/fragments/__InstitutionStructureDropDown :: InstitutionStructureDropDown(${parentCategories}, ${instStrListByLeastHieCategory})"></div>
                                    <input type="hidden" name="parent_id" id="txtInsParentId">
                                    <input type="hidden" name="group_id" id="txtInsGroupId">
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group"> <label> Description </label>
                                        <input class="form-control" placeholder="Enter Description" type="text" th:field="*{description}">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group"> <label> Code </label>
                                        <input class="form-control" placeholder="Enter Code" type="text" th:field="*{code}">
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                    <button class="btn btn-primary" id="btnSaveInstitutionStructure" type="button"> Save changes</button>
                </div>

                </form>
            </div>
        </div>
    </div>

</div>
<!--Large modal-->


<div layout:fragment="body_custom_script">

    <script type="text/javascript" th:src="@{/assets/backend/custom/js/InstitutionStructure_Js/InstitutionStructure.js}"></script>

    <script type="text/javascript" th:if="${message}" th:inline="javascript">
        PNotify.alert({
            text: /*[[${message}]]*/ 'Success',
            type: 'success'
        });
    </script>

</div>



</body>

</html>
