<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="text-sm" th:fragment="MenuAdsSpace">
    <h4 class="text-white">College Management <br> Portal</h4>
    <p class="text-white">Modern, Robust, Fast & Secured</p>
    <div class="btn-w">
<!--        <a class="btn btn-white btn-rounded" href="#" target="_blank">?</a>-->
        <a class="btn btn-white btn-rounded text-sm" href="#" target="_blank">Need Technical Support?</a>
    </div>
</div>

</body>
</html>