<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head_links">
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="College Portal" name="author">
    <meta content="Secured & User Friendly (College Portal) Student Learning Management System" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link th:href="@{/assets/backend/default/fav.png}" rel="shortcut icon">
    <link th:href="@{/assets/backend/default/ico.png}" rel="apple-touch-icon">

    <link th:href="@{assets/backend/default/css/fastfont.css}" rel="stylesheet" type="text/css">

    <link th:href="@{/assets/backend/default/bower_components/select2/dist/css/select2.min.css}"  rel="stylesheet" type="text/css">
    <link th:href="@{/assets/backend/default/bower_components/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/backend/default/bower_components/dropzone/dist/dropzone.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/backend/default/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/backend/default/bower_components/fullcalendar/dist/fullcalendar.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/backend/default/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/backend/default/bower_components/slick-carousel/slick/slick.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/backend/default/css/maince5a.css?version=4.4.2}" rel="stylesheet" type="text/css">

</head>
<body>

</body>
</html>