<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="top-bar-rentals" th:fragment="body_top_bar">
    <div class="logo-w"><a class="logo" href="# ">
        <div class="logo-element"></div>
        <div class="logo-label">BABCOCK UNIVERSITY</div>
    </a>
        <div class="filters-toggler"><i class="os-icon os-icon-hamburger-menu-1"></i></div>
    </div>
    <div class="filters">
        <div class="filters-header">

        </div>
        <form class="form-inline">
            <div class="filter-w">
<!--                <div class="filter-body">-->
<!--                    <div class="form-group"><label for="">Zip Code</label>-->
<!--                        <div class="input-group">-->
<!--                            <div class="input-group-prepend">-->
<!--                                <div class="input-group-text"><i class="os-icon os-icon-ui-74"></i></div>-->
<!--                            </div><input class="form-control zip-width" placeholder="Zip Code" type="text" value="11234">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="filter-w">
                <div class="filter-body">
<!--                    <div class="form-group"><label for=""> Dates</label>-->
<!--                        <div class="input-group">-->
<!--                            <div class="input-group-prepend">-->
<!--                                <div class="input-group-text"><i class="os-icon os-icon-ui-83"></i></div>-->
<!--                            </div><input class="form-control date-range-picker" type="text" value="">-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="buttons-w">
                <a class="btn btn-upper btn-primary" href="/login">
                    <i class="os-icon os-icon-ui-37"></i>
                    <span>Login</span>
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>