<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="filter-side" th:fragment="body_main_side_menu">

    <div class="filters-header">
        <h4>PORTAL</h4>
        <div class="reset-filters"><i class="os-icon-close os-icon"></i><span></span></div>
    </div>

    <div class="filter-w collapsed">
        <div class="filter-toggle"><i class="os-icon-minus os-icon"></i></div>
        <h6 class="filter-header">HOME </h6>
        <div class="filter-body">
            <div class="sub-menu-i">
                <ul th:fragment="ApplicationParameterSetup_links" class="sub-menu">
                    <li><a href="#">HOME </a></li>

                </ul>
            </div>
        </div>

    </div>


    <div class="filter-w collapsed">
        <div class="filter-toggle"><i class="os-icon-minus os-icon"></i></div>
        <h6 class="filter-header">APPLICATION</h6>
        <div class="filter-body">
            <div class="sub-menu-i">
                <ul th:fragment="ApplicationParameterSetup_links" class="sub-menu">
                    <li><a href="#">NEW APPLICATION</a></li>
                    <li><a href="#">RE-PRINT APPLICATION</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="filter-w collapsed">
        <div class="filter-toggle"><i class="os-icon-minus os-icon"></i></div>
        <h6 class="filter-header">ACCEPTANCE FEE</h6>
        <div class="filter-body">
            <div class="sub-menu-i">
                <ul th:fragment="" class="sub-menu">
                    <li><a href="#">ACCEPTANCE FEE</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="filter-w collapsed">
        <div class="filter-toggle"><i class="os-icon-minus os-icon"></i></div>
        <h6 class="filter-header">RESULT CHECK</h6>
        <div class="filter-body">
            <div class="sub-menu-i">
                <ul th:fragment="" class="sub-menu">
                    <li><a href="#">ADMISSION CHECK</a></li>
                    <li><a href="#">POST UME RESULT CHECK</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="filter-w collapsed">
        <div class="filter-toggle"><i class="os-icon-minus os-icon"></i></div>
        <h6 class="filter-header">STUDENT CORNER</h6>
        <div class="filter-body">
            <div class="sub-menu-i">
                <ul th:fragment="ApplicationParameterSetup_links" class="sub-menu">
                    <li><a href="#">FEES</a></li>
<!--                    <li><a href="#">COURSE REGISTRATION<strong class="badge badge-danger">HOT</strong></a></li>-->
                    <li><a href="#">COURSE REGISTRATION</a></li>
                    <li><a href="#">RESULT CHECKER</a></li>
                    <li><a href="#">PROFILE UPDATE</a></li>
                    <li><a href="#">RE-PRINT ACCEPTANCE</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="filter-w collapsed">
        <div class="filter-toggle"><i class="os-icon-minus os-icon"></i></div>
        <h6 class="filter-header">ONLINE TRANSCRIPT</h6>
        <div class="filter-body">

            <div class="sub-menu-i">
                <ul th:fragment="ApplicationParameterSetup_links" class="sub-menu">
                    <li><a href="#">NEW APPLICATION</a></li>
                    <li><a href="#">CONTINUE APPLICATION</a></li>
                    <li><a href="#">APPLICATION DETAILS</a></li>

                </ul>
            </div>
        </div>
    </div>

    <div class="filter-w collapsed">
        <div class="filter-toggle"><i class="os-icon-minus os-icon"></i></div>
        <h6 class="filter-header">CERTIFICATE CHECK</h6>
        <div class="filter-body">
            <div class="sub-menu-i">
                <ul th:fragment="ApplicationParameterSetup_links" class="sub-menu">
                    <li><a href="#">CERTIFICATE CHECK</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="filter-w collapsed">
        <div class="filter-toggle"><i class="os-icon-minus os-icon"></i></div>
        <h6 class="filter-header">PUME EXAM SCHEDULE</h6>
        <div class="filter-body">
            <div class="sub-menu-i">
                <ul th:fragment="ApplicationParameterSetup_links" class="sub-menu">
                    <li><a href="#">PUME EXAM SCHEDULE</a></li>
                </ul>
            </div>
        </div>
    </div>


</div>

</body>
</html>