<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="text-sm" th:fragment="MenuAdsSpace">
    <div class="logo-element"></div>
    <h3 class="heading">ADMISSION!! <strong class="badge badge-danger">Hot</strong></h3>
    <br><br>
    <h6 class="heading-small text-white">Helpful Links</h6>
    <ul class="text-white">
        <li><a href="#" class="text-white">Department Cutoff Marks <i class="os-icon os-icon-book-open"></i></a></li>
        <li><a href="#" class="text-white">How To Apply <i class="os-icon os-icon-clock"></i></a></li>
    </ul>
</div>

</body>
</html>